* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Turret Road', cursive;
    font-size: 1.2rem;
}

body {
    background-color: black;
}

.container {
    background-color:;
    height: 20rem;
    width: 30rem;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.button {
    margin: 0rem 0.1rem 0rem 0.2rem;   
    width: 7rem;
    padding: 0.2rem;
    white-space: nowrap;
    color: greenyellow;
    background-color: rgb(29, 82, 31);
    border: none;
}

input {
    width: 8rem;
    margin-right: 0.1rem;
    padding: 0.1rem;
    font-size: 1rem;
    color: rgb(114, 114, 114);
}

.text {
    text-align: center;
    padding: 1rem 1rem 1rem 0rem;
    color: rgb(0, 255, 21);
}

main {
    height: 50rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    color: rgb(0, 255, 21);
}

.container-video {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}